* {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    max-width: 100%;
}

/* HEADER */
header {
    margin: 6.4% 4.3% 2.7% 4.3%;

    display: flex;
    width: 85%;
    padding-bottom: 27px;
    padding: 0px;

    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    /* height: 100% */
    /* width: 200; */
    /* background-color: rgb(248, 248, 248); */
}

.nav_header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between
}

header .logo {
    width: 189px;
    height: 85px;
}

header .logo img {
    max-width: 100%;
}

.icon_burger {
    display: flex;
    width: 40px;
    height: 30px;
    margin-left: 20px;
    text-decoration: none;
    color: #838383;

}



.right {
    height: 43px;
    width: 200px;
    margin-left: 20px;

    align-items: center;
    justify-content: center;

}

/* Поиск */
.seach_right {
    display: flex;
    flex-direction: row;
    border: 2px solid #F11E24
}

.seach_btn {
    height: 43px;
    width: 43px;
    background-color: red;
    border: 0px;
    background-image: url(/img/Vector.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 0px;

}

/* Делаем кнопки */
.red_btn {
    background-color: red;
    color: white;
    border: 0px;
}

.white_btn {
    background-color: #fff;
    color: #F11E24;
    border: 2px solid #F11E24
}

.gamburger span {
    display: block;
    max-width: 40px;
    max-height: 9px;
    margin: 7px;
    background-color: gray;
}

/* rectangle */
.rectangle {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background: gray url(/img/Rectangle\ 3.svg) no-repeat;
    /* position: static; */
    width: 1440px;
    height: 450px;
    justify-content: center;
    align-items: center;
}

.rectangle_text {
    /* position: relative;
    width: 1048px;
    height: 118px;
    left: 197px;
    top: 283px; */



    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
    background-image: linear-gradient(to top, #F11E24 50%, transparent 50%);


}

/* INFO */

.info {
    display: flex;
    justify-content: space-between;
    margin: 75px 11.8% 75px 10.6%;
}

.info_logo {

    background: url("/img/sozvezdie_logo_out-03_RGB_800x800\ 1.svg");
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    /* height: 103px;
    width: 27.6%; */
}

.info_text {
    height: 40.8%;
    width: 588px;

    font-size: 24px;
    line-height: 28px;
    color: #838383;

}