* {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* width: 100%; */
}

/* HEADER */
header {
    margin-top: 92px;
    margin-bottom: 40px;
    display: flex;
    margin-left: 62px;
    max-width: 85%;
    padding-bottom: 27px;
    padding: 0px;

    align-items: center;
    justify-content: center;

    /* height: 100% */
    /* width: 200; */
    /* background-color: rgb(248, 248, 248); */
}



header .logo {
    max-width: 189px;
    max-height: 85px;
}

header .logo img {
    max-width: 100%;
}

.icon_burger {
    width: 40px;
    height: 30px;
    margin-left: 20px;
    text-decoration: none;
}

.left {
    margin-right: 444px;
}

.right {
    height: 43px;
    width: 200px;
    margin-left: 20px;

    align-items: center;
    justify-content: center;

}

/* Поиск */
.seach_right {
    display: flex;
    flex-direction: row;
    border: 2px solid #F11E24
}

.seach_btn {
    height: 43px;
    width: 43px;
    background-color: red;
    border: 0px;
    background-image: url(/img/Vector.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 0px;

}

/* Делаем кнопки */
.red_btn {
    background-color: red;
    color: white;
    border: 0px;
}

.white_btn {
    background-color: #fff;
    color: #F11E24;
    border: 2px solid #F11E24
}

.gamburger span {
    display: block;
    max-width: 40px;
    max-height: 9px;
    margin: 7px;
    background-color: gray;
}

/* rectangle */
.rectangle {
    background: gray url(/img/Rectangle\ 3.svg) no-repeat;
    /* position: static; */
    width: 1440px;
    height: 450px;
}

/* .rectangle_photo {
    /* position: relative; */
/* left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
z-index: 1;
background-image: url(/img/Rectangle\ 3.svg);
} */
.rectangle_text {
    position: absolute;
    width: 1048px;
    height: 118px;
    left: 197px;
    top: 283px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    text-align: center;

    color: #FFFFFF;
}

*/ .rectangle_line {
    position: absolute;
    left: 37.22%;
    right: 37.08%;
    top: 10.62%;
    bottom: 88.38%;
}